<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <style>
        .main{
            width:100%;
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
            margin: auto 0;
         
        }
      .imgg{
        width: 300px;
        height: 200px;
        border-radius: 12px;
      }
      .container{
        border-radius: 12px;
        padding: 10px;
        width:350px;
        margin :40px;
        font-family:  'Poppins', sans-serif;;
        text-align: center;
        box-shadow: 5px 5px 5px #e8e8e8;
      }
      a{
        background:#ffff;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
               display: inline-block;
               padding: 10px;
               text-align: center;
 color:black;
 width: 100px;;
 text-decoration: none;
        border-radius: 12px;
        background-color: #ffff;
        font-size: larger;
        font-family:  'Poppins', sans-serif;;
        cursor: pointer;

      }
      a:hover{
        background-color:  #009087;
        color:#ffff;
        width: 250px;;
      }
      .welcome{
        
        font-family:  'Poppins', sans-serif;;
        text-align: center;
        box-shadow: 5px 5px 5px #e8e8e8;
      }
      
    </style>
</head>
<body>
  <header class="header-section">
    <div class="logo-user">
       <center> <img class="logo" src="./assets/logo.png" alt="logo"></img></center>
        
    </div>
</header>
    <h1 class="welcome">Welcome Users</h1>
    <div class="main">
    <div class="container">

        <img class="imgg" src="https://img.freepik.com/free-vector/discussion-concept-illustration_114360-5179.jpg?w=740&t=st=1697265786~exp=1697266386~hmac=d7fe77dca5144f56edfc7a76a7b8622f39c0b5b41ac172e17b5f42bf1c21c00f">
        <h1 class="heading">Patent Projects</h1>
        <p class="content">User can upload patents here!!!</p>
        <a id="table" href="/store">Login</a>
        
    </div>
    <div class="container">
      <img class="imgg" src="https://img.freepik.com/free-vector/coworking-concept-illustration_114360-5921.jpg?w=740&t=st=1697265692~exp=1697266292~hmac=1b0363afe7d12af79d8c6b32cdd07dac49139643d489cb4655add2eb9ecb00f8">
        <h1 class="heading">Conferences</h1>
        <p class="content">User can upload Conferences here!!!</p>
        
        <a id="table" href="/conferencestore">Login</a>
    </div>
    <div class="container">
      <img class="imgg" src="https://img.freepik.com/free-vector/college-project-concept-illustration_114360-13751.jpg?w=1060&t=st=1697265374~exp=1697265974~hmac=271561a7b4e1bb214174b7af7bbc5d8f3554b6e8e0360f4a47ea887c263fa914">
        <h1 class="heading">Books and Chapters </h1>
        <p class="content">User can upload books here!!!</p>
        
        <a id="table" href="/booksstore">Login</a>
    </div>
    <div class="container">
      <img class="imgg" src="https://img.freepik.com/free-vector/webinar-concept-illustration_114360-4874.jpg?w=740&t=st=1697265751~exp=1697266351~hmac=a4f8932f76639c371090333df72b29bfc4796d57aea7060be222d5425fa44aa1">
        <h1 class="heading">Article</h1>
        <p class="content">User can upload article here!!!</p>
        
        <a id="table" href="/articlestore">Login</a>
    </div>
    <div class="container">
      <img class="imgg" src="https://img.freepik.com/free-vector/team-concept-illustration_114360-658.jpg?w=740&t=st=1697265521~exp=1697266121~hmac=7071e269e46e7462826f36ebb57a920244d1f17d57df3777295ede05e38e8ee0">
        <h1 class="heading">Projects</h1>
        <p class="content">User can upload projects here!!!</p>
        
        <a id="table" href="/projectstore">Login</a>
    </div>
    
</div>
</body>
</html>
